<router-outlet></router-outlet>


<div class="parallax1">

</div>
<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="header">Hi, welcome to my website.</h2>
			<p class="parrafo">
				In this website you can have a "demonstration" of a simple web page made with Angular 6 and firebase, in the
				menu the different modules of the website are shown where you can: register courses, consult courses, edit them
				and eliminate them. . I have decided to make a slightly minimalist design since it is a very simple web page
				and, therefore, the user feels that it is in a simple environment. <br> Below you will find more information
				about me
				and my skills as a developer.
			</p>
		</div>
	</div>

</div>
<div class="parallax2">

</div>
<div class="container space-e">
	<div class="row">

		<h2 class="text-center">Here you can get more info about me.</h2>
		<p class="parrafo">
			Hi, my name is Sergio, im 18 yo and i'm a sofware developer. i've worked 6 moths as a frontend developer, i've
			made landing pages, emails and websites.
			I'm a beginner as frontend and backend developer i'm not a expert with the differents developer tools and
			languajes but i like keep improve my skills. I really like the software and hardware inside a computer.
		</p>
		<p class="parrafo">
			Below you can see my skills with differents languajes and tools to develop </p>

		<div >
			<div class="col s12 m2 z-depth-3 teal lighten-2 ">
				<p> PHP, C#, Java, JavaScript</p>
			</div>
			<div class="col s12 m2 z-depth-3 teal lighten-2  ">
				<p>HTML and CSS (Pug, Less, Sass ) </p>
			</div>

			<div class="col s12 m2 z-depth-3 teal lighten-2  ">
				<p>Angular, VueJs, Threejs, Bootstrap</p>
			</div>
			<div class="col s12 m2 z-depth-3  teal lighten-2 ">
				<p>Materialize, Semantic  </p>
			</div>
			<div class="col s12 m2 z-depth-3 teal lighten-2  ">
				<p>SQL Server, PostgreSQL, MySQL, Oracle</p>
			</div>
		</div> 
	</div>

		<div class="row row-button">
			<div class="col-12">
				<h4>Click on this button for more info about me</h4>
				<button class="button2"><a href="https://www.facebook.com/sergioandresoquendosalazar" target="_blank"> Click
						Here!</a></button>
			</div>
		</div>




